<div class="fixed bottom-0 left-0 z-50 w-full h-14 bg-white border-t border-gray-200 dark:bg-neutral-950 dark:border-gray-600">
    <div class="grid h-full max-w-lg grid-cols-4 mx-auto font-medium">
        <NavLink href="/" class="inline-flex flex-col items-center justify-center px-5 hover:bg-gray-50 dark:hover:bg-gray-800 group" Match="NavLinkMatch.All" ActiveClass="bg-gray-50 dark:bg-neutral-800">
            <i data-lucide="house" class="w-5 h-5 text-gray-500 dark:text-gray-400"></i>
        </NavLink>
        <NavLink href="/weather" class="inline-flex flex-col items-center justify-center px-5 hover:bg-gray-50 dark:hover:bg-gray-800 group" Match="NavLinkMatch.All" ActiveClass="bg-gray-50 dark:bg-neutral-800">
            <i data-lucide="piggy-bank" class="w-5 h-5 text-gray-500 dark:text-gray-400"></i>
        </NavLink>
        <NavLink href="/reporting" class="inline-flex flex-col items-center justify-center px-5 hover:bg-gray-50 dark:hover:bg-gray-800 group" Match="NavLinkMatch.All" ActiveClass="bg-gray-50 dark:bg-neutral-800">
            <i data-lucide="chart-pie" class="w-5 h-5 text-gray-500 dark:text-gray-400"></i>
        </NavLink>
        <NavLink href="/account" class="inline-flex flex-col items-center justify-center px-5 hover:bg-gray-50 dark:hover:bg-gray-800 group" Match="NavLinkMatch.Prefix" ActiveClass="bg-gray-50 dark:bg-neutral-800">
            <i data-lucide="circle-user" class="w-5 h-5 text-gray-500 dark:text-gray-400"></i>
        </NavLink>
    </div>
</div>