@inherits LayoutComponentBase
@inject IJSRuntime JsRuntime

<div class="page">
    <Toast />
    <main class="mx-0 mt-4 sm:mx-6 sm:mt-6 mb-12 lg:m-12">
        @Body
    </main>
    <BottomNavbar/>
</div>


@code {
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JsRuntime.InvokeVoidAsync("marukiInit");
        }
    }
}